.bookNavigation {
    display: flex;
}
.navigationContainer {
    width: fit-content;
    padding:10px;
    display: flex;
    flex-direction: column;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 5px;
}