.bookNavigation {
    display: flex;
    margin-top:1em;
}
.navigationContainer {
    width: fit-content;
    height: fit-content;
    padding:15px 20px;
    display: flex;
    flex-direction: column;
    background: #f9eaf2;
    border-radius: 20px;
    border: 1px solid #ddccd4;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 5px;
}