.wordContainer {
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #b7a5b6;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px #d4c7cd;
    padding: 10px;
    background: #fffdfd;
    color: #2f2929;
}

.wordImage {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 1em;
}

.wordDescription {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.wordTranscription {
    margin: 0 auto;
    margin-right: 0.5em;
    display: flex;
    align-items: center;
}

.audioButton {
    text-decoration: none;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.circle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}
