.navigation {
    height: 100%;
    background-color: rgb(137, 108, 163);
}

nav {
    display: flex;
    align-items: center;
    column-gap: 10px;
    row-gap: 40px;
}

.navContainer {
    display: flex;
    align-items: center;
}

.navContainer a {
    text-decoration: none;
    color: white;
}

