.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper>h2 {
    margin-top: 20px;
    font-size: 48px;
}

.gamesContainer {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gameLink {
    flex: 0 1 40%;
}

.gameContainer:hover {
    background-color: #dcccd4;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 50%);
}

.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 20px;
    padding: 1em;
    background-color: #fff;
    justify-content: flex-start;
    min-height: 250px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.gameIcon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 0 auto 15px;
}

.gamePicture {
    border-radius: 50%;
    width: 100%;
}

.gameDescription {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #551A8B;
    width: 100%;
}

.gameName {
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    color: #551A8B;
}

.description {
    color: #551A8B;
    text-align: center;
    line-height: 1.1;
}

@media (max-width: 900px) {
    .gamesContainer {
        max-width: 600px;
    }
    
    .gameContainer {
        min-height: 420px;
    }
}

@media (max-width: 767px) {
    .gameLink {
        flex: 0 1 90%;
    }

    .gameIcon {
        width: 180px;
        height: 180px;
    }

    .gameName {
        font-size: 36px;
    }

    .description {
        font-size: 22px;
    }

    .gamesContainer {
        max-width: 500px;
    }
}

@media (max-width: 450px) {
    .gameContainer {
        min-height: 480px;
    }
}