.gamePage {
    margin: 0 auto;
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.gameInstruction {
    border-bottom: 1px solid #dcccd4;
}

.gameInstructionRules {
    font-size: 17px;
    margin: 0 0 10px;
}

.timer {
    font-size: 20px;
    background-color: #fff;
    border-radius: 20px;
}

.answersList {
    display: flex;
    width: 50%;
    justify-content: space-around;
    padding: 0;
    margin: 5px auto;
}

.answer {
    margin: 0 1px;
    list-style: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: #6c757d;
}

.correct {
    background-color: green;
}

.scoreInfo {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.score {
    font-size: 20px;
}

.points {
    font-size: 20px;
}

.comparedWords {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 110px;
}

.comparedWords>p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    background-color: white;
    flex: 0 1 40%;
}

.answerButtons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    cursor: pointer;
}

.correctButton, .wrongButton {
    color: #fff;
    padding: 5px 10px;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 2px 2px 7px 2px #b4b4c7;
    border-radius: 10px;
    outline: none;
}

.correctButton:hover, .wrongButton:hover {
    box-shadow: 5px 5px 10px 5px #b4b4c7;
}

.correctButton:hover {
    background-color: #1f841f;
}

.wrongButton:hover {
    background-color: #e00606;
}

.correctButton {
    border: 1px solid #1f841f;
    background-color: #8cd68c;
}

.correctButton:active {
    color: #00ff00;
    background-color: #1f841f;
}

.wrongButton {
    border: 1px solid #e00606;
    background-color: #de8d8d;
}

.wrongButton:active {
    color: #ff0000;
    background-color: #e00606;
}

@media (max-width: 390px) {
    .comparedWords {
        flex-direction: column;
    }

    .comparedWords>p {
        font-size: 30px;
    }

    .answerButtons {
        margin: 0 auto;
        flex-direction: column;
        width: 90%;
    }

    .correctButton, .wrongButton {
        margin: 10px 0px;
    }

    .points {
        font-size: 30px;
    }
}