.header {
    background: linear-gradient( 0deg, #dcccd4 0%, #fcf2f7 40%, #fcf2f7 54%, #dcccd4 100%);
    height: 60px;
    padding: 0.8em;
}
h1 {
    font-family: 'Kiwi Maru', serif;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}