* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}
h2 {
  color: #551a8b;
  font-size: 23px;
  letter-spacing: 1px;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.contentContainer {
  position: relative;
  flex-grow: 1;
  padding: 20px;
  background: #fdf3f7;
}

@media(max-width:600px){
  h1{
    font-size: 20px;
  }
  span{
    font-size: 14px;
  }
}